[Unit]
Description=GameGold Node Server

[Service]
ExecStart=[/path/to/npm/executable] run [Nodetype]
Restart=always
User=[yourUserName]
Group=[yourUserGroup]
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=[/path/to/node-gamegoldnode]

[Install]
WantedBy=multi-user.target


# [/path/to/npm/executable]：npm可执行文件的绝对路径
# [/path/to/node-gamegoldnode]：gamegoldnode的绝对路径
# [Nodetype]: 节点类型: master/slaver
# [yourUserName]：你的用户名
# [yourUserGroup]：你的组名